@charset "gb2312";
.clearfix {display: inline-block; clear:both;}

body{background:#fff}
.wrapper{ width:950px; margin-left:auto; margin-right:auto;}

#column { width:640px; float:left; }
#sidebar { width:300px; float:right; }
#crumb { color:#0e774a; line-height:24px; height:30px; background:url(../images/BoxI_Dot.gif) repeat-x left bottom; }
#crumb a, #crumb a:visited { color:#0e774a; }
#content { background:url(../images/BoxI_Dot.gif) repeat-x left -1px;  }
#CategoryTitle { background:url(../images/BoxI_TitleBg1.gif) repeat-x left bottom; position:relative; }
#CategoryTitle h1 { display:block; background:url(../images/BoxI_Ico.gif) no-repeat 10px center; height:30px; line-height:30px; padding:0 0 0 25px; font-size:18px; font-weight:bold; font-family:'微软雅黑'; color:#028810 }
#Search { position:absolute; top:4px; right:10px; }

.newslist li { background:url(../images/NewsBg.gif) no-repeat left 8px; padding-left:20px; font-size:14px; clear:both; line-height:24px; height:24px;  vertical-align:middle;  }
.newslist .mt { margin-top:20px; }
.newslist a { float:left; }
.newslist span { float:right; color:#999 }


.Page ul{  display:inline-block; #display:inline; line-height:24px; font-size:14px; color:#999}
.Page ul li{ display:inline; margin:0 3px; text-align:center;}
.Page ul li a,.Page ul li a:visited{ display:inline; padding:3px 8px; border:1px solid #028810; color:#028810 }
.Page ul li a:hover{ border:1px solid #028810; text-decoration:none; background:#028810; color:#fff}
.Page ul #N{ padding:3px 8px; border:1px solid #999;}
.Page ul #P{ padding:3px 8px; border:1px solid #028810; background: #028810; color:#fff; font-weight:bold;}


.BoxI{ border:1px solid #afe8b4; position:relative; zoom:1; background:#fcfefc;}
.BoxI .tit{padding:0 0 0 10px; line-height:28px; height:28px; background:#fff url(../images/BoxI_TitleBg.gif) repeat-x left bottom;}
.BoxI .tit h2{line-height:28px; height:28px; color:#028810; font-size:14px;}
.BoxI .tit h2 a,.BoxI .tit h2 a:visited{color:#028810}
.BoxI .bd{ position:relative; zoom:1;}
.BoxI .bd ul li{ }
.BoxI .tab{ position:absolute; top:-1px; right:0; line-height:27px;}
.BoxI .tab a,.BoxI .tab a:visited{ margin-right:-1px; display:inline-block; height:27px; padding:0 10px; border:1px solid #afe8b4;}
.BoxI .tab a:hover,.BoxI .tab a.select,.BoxI .tab a.select:visited{ border-bottom:1px solid #fff; background:#FFFFFF}

.BoxG{}
.BoxG .tit{background:url(../images/BoxI_TitleBg1.gif) repeat-x left bottom; border-bottom:1px solid #afe8b4; padding-left:10px; height:25px; line-height:25px;}
.BoxG .tit h2{line-height:25px; font-size:14px; }



.txtlist { position:relative; zoom:1; }
.txtlist li {height:18px;line-height:18px;overflow:hidden; margin-bottom:7px;}

.icoarrow1 li,.icovideo li,.icozine li,.icodota li,.icofire li,.iconum{ background-image:url(../images/icon.png); background-repeat:no-repeat;}
.icoarrow1 li{background-position:0 -402px; padding-left:10px;}
.icovideo li{background-position:0 -441px; padding-left:20px; margin-bottom:5px; }
.icozine li{background-position:0 -479px; padding-left:20px;  margin-bottom:5px; }
.icodota li{background-position:0 -572px; padding-left:12px;}
.icofire li{background-position:0 -685px; padding-left:18px;}

.iconum { background-position:10px -720px; padding-left:35px;}
.iconum li {margin-bottom:8px;}


.prolist li{ width:85px; float:left; text-align:center; overflow:hidden; border:1px solid #CCC; margin:0 3px; _display:inline}
.txtbrandlist li a.msg{ float:right; color:#11c;}

a.BtnMessageInfo,a.BtnMessageInfo:visited{background:url(../images/sprite.png) no-repeat left 0; width:80px; height:24px; display:inline-block; float:left; text-indent:-999px; position:absolute; left:18px; top:2px; }
a.BtnMessageNews,a.BtnMessageNews:visited{background:url(../images/sprite.png) no-repeat left -45px; width:240px; height:77px; display:inline-block; text-align:center; line-height:38px; font-weight:bold; color:#a00; font-size:14px;}
a.BtnMessageNews1,a.BtnMessageNews1:visited{background:url(../images/sprite.png) no-repeat left -172px; width:240px; height:47px; display:inline-block; line-height:47px;}

.radius5{-webkit-border-radius:5px;-khtml-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}


.arrow{ background-image:url(../images/icon.png); background-repeat:no-repeat; background-position:0 0;}

 
.focusbox {background:#e8f8ea; border:1px solid #afe8b4;}
.focusbox .tit{ -webkit-border-radius:5px;-khtml-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#fff url(../images/BoxI_TitleBg1.gif) repeat-x left bottom;}
.focusbox .tit h2{background:url(../images/icon.png) no-repeat 10px 5px; padding-left:25px;line-height:28px; height:28px; font-size:14px; font-weight:bold}
.focusbox .bd { z-index:0;}

.videobox {background:#e8f8ea; padding:0 0 4px; border:1px solid #afe8b4; }
.videobox .tit{ border-bottom:1px solid #afe8b4;background:url(../images/BoxI_TitleBg1.gif) repeat-x left bottom;}
.videobox .tit h2{background:url(../images/icon.png) no-repeat 10px 5px; padding-left:25px; line-height:28px; height:28px; font-size:14px; font-weight:bold}
.videobox .bd { z-index:0;}
 

.txtfocusbox .tit{border-bottom:1px solid #afe8b4;border-top:1px solid #afe8b4; background:url(../images/BoxI_TitleBg1.gif) repeat-x left bottom; margin-bottom:10px}
.txtfocusbox .tit h2{line-height:28px; height:28px; font-size:14px; padding-left:10px;}
.txtfocusbox ul{ }

.zsindex { clear:both;}
.zsindex .pic{width:80px; background:#FFF; padding:1px; border:1px solid #CCC;}
.zsindex .txt{ width:152px; padding-left:10px;line-height:16px;}
.zsindex .txt p{ color:#666; padding-top:4px;}



#content { background:none; overflow:hidden; width:100%;}
#content h1 { text-align:center; font-size:22px; padding:20px 20px; line-height:26px; display:block }
#info { background:url(../images/BoxI_TitleBg1.gif) repeat-x left bottom; position:relative; height:30px; line-height:30px; text-align:center; margin:0 2px 0; position:relative; color:#666 }
#tool { padding:10px 20px; color:#0e774a; }
.ShareSites { border:1px solid #afe8b4; border-left:none; padding:0 20px; color:#0e774a; border-right:none; background:url(../images/BoxI_TitleBg1.gif) repeat-x left bottom; height:28px; line-height:28px; }
#fontSize { position:absolute; top:5px; ; right:20px; }
#fontSize span { cursor:pointer; float:left; margin-left:3px; background:#FFF; display:inline-block; width:16px; height:16px; line-height:16px; text-align:center; border:1px solid #afe8b4; color:#888; }
#fontSize #fontSmall { font-size:12px; display:none; }
#fontSize #fontMiddle { font-size:14px; color:#a00; }
#fontSize #fontBig { font-size:16px }
#NewsBody { font-size:14px; padding:0 20px 20px; padding-top:20px; line-height:24px; overflow:hidden; }
#NewsBody p { margin:0 0 20px; }
#NewsBody img { max-width:100%!important; _width:expression(this.width>600 ? "600px" : "auto");}
enter; line-height:normal; line-height:20px; margin-top:29px; }
.PageNum ul { display:inline-block; #display:inline;
margin:auto; }
.PageNum li { margin:0 2px; display:inline; }
.PageNum span { border:1px solid #00a0e9; display:inline-block; padding:0 8px; background:#00a0e9; color:#fff; }
.PageNum a, .PageNum a:visited { border:1px solid #CCC; display:inline-block; padding:0 8px; }
.PageNum a:hover { background: #CCC; color:#fff; text-decoration:none; }
.Tag a, .Tag a:visited { color:#014ccc; }
.Ico_CopyLink { background:url(../images/ico_CopyLink.gif) no-repeat left; padding-left:15px; }
.Ico_Print { background:url(../images/ico_print.gif) no-repeat left; padding-left:15px; }
.Ico_Close { background:url(../images/ico_close.gif) no-repeat left; padding-left:15px; }


/*主菜单*/
.mainnav { height:60px; clear:both; position:relative; z-index:999; }
.mainnav .bgl, .mainnav .bgm, .mainnav .bgr { background-image:url(../images/mainnavbg.png); background-repeat:no-repeat; }
.mainnav .bgl { float:left; background-position:0 0; width:5px; height:60px; overflow:hidden; }
.mainnav .bgm { float:left; background-position:0 -70px; width:940px; height:60px; background-repeat:repeat-x; }
.mainnav .bgr { float:right; background-position:0 -140px; width:5px; height:60px; overflow:hidden; }
.mainnav .hynav { height:30px; line-height:30px; font-size:14px; font-weight:bold; color:#028810; }
.mainnav .hynav a, .mainnav .hynav a:visited { color:#028810; height:30px; padding:0 12px; display:inline-block; }
.mainnav .hynav a:hover { background:url(../images/mainnavbg.png) repeat-x 0 -210px; color:#fff; }
.mainnav .hynav a.select, .mainnav .hynav a.select:visited, .mainnav .hynav a.select:hover { background:url(../images/mainnavbg.png) repeat-x 0 -250px; color:#fff; }
.mainnav .hysubnav { height:30px; line-height:30px; padding-left:12px; font-size:12px; color:#fff }
.mainnav .hysubnav a, .mainnav .hysubnav a:visited { color:#fff }
.mainnav .hysubnav li { display:none; }
/*主菜单*/


/*搜索条*/
.search { position:absolute; top:4px; right:10px; z-index:1000; clear:both}
.searchbar { background:url(../images/search.png) no-repeat 0 -56px; width:208px; border:1px solid #e3e3e3; border-right:none; float:left; vertical-align:middle; color:#666; line-height:20px; height:20px; padding-left:25px; position:relative; zoom:1;}
.searchbar .lblCate { width:65px; padding:0 5px; display:inline-block; background:url(../images/search.png) no-repeat 62px -144px; float:left; display:inline-block; height:18px; margin:1px 0; line-height:18px; cursor:pointer }
.searchbar .Keyword { background:url(../images/search.png) no-repeat 0 -175px; border:none; outline:none; width:120px; height:18px; margin:0; padding-left:5px; float:left; color:#666; }
.searchbar .CategoryList { display:none; position:absolute; z-index:999; left:-1px; top:21px; border:1px solid #e3e3e3; background: #fff; padding:10px 1px; width:284px; }
.searchbar .CategoryList ul li { float:left; width:51px; padding:0 10px; cursor:pointer }
.btnsearch { background:url(../images/search.png) no-repeat 0 -100px; border:none; width:54px; height:22px; line-height:24px; margin:0; padding:0; vertical-align:middle; cursor:pointer; float:left }
/*搜索条*/

